<h1>Login</h1>

<form action= <%= users_url %> method="post">
  <label for="username">Username</label>
  <input id="username " type="text" name="user[username]" value="">

  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]" value="">

  <button type="submit" name="button">Submit</button>

</form>
