<h1>Login</h1>

<form action= <%= session_url %> method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="">

  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]" value="">

  <label for="Sign In">Sign In</label>
  <button id= "Sign In" type="submit" name="button">Sign In</button>

</form>
