<form action= <%= links_url %> method="post">
  <label for="title">title</label>
  <input id = "title" type="text" name="link[title]" value="">

  <label for="url"></label>
  <input type="text" name="link[url]" value="">

  <button type="submit" name="button">submit</button>

</form>
