<h1>Sign Up</h1>

<form action= <%= users_url %> method="post">
  <label for="Username">Username</label>
  <input id="Username" type="text" name="user[username]" value="">

  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]" value="">
  <label for="Sign Up"></label>
  <button id="Sign Up"type="submit" name="button">Sign Up</button>

</form>
